on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        
      - name: Setup FTP
        uses: sebastianpopp/ftp-deploy-action@v2
        with:
          ftp-server: ${{ secrets.FTP_SERVER }}
          ftp-username: ${{ secrets.FTP_USERNAME }}
          ftp-password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./
          remote-dir: /www/thuchanhnguonmo2.somee.com

      - name: Deploy code via FTP
        run: echo "Deploying to server..."
